In [94]:
import csv
import pandas as pd

df = pd.read_csv('data.csv')

for i in range(1600, 2000):
    df.drop(i, inplace = True)
df

,Unnamed: 0,sentID.BTEC,split,lang,sent,revised,CODA
0,0,5,corpus-6-test-corpus-26-train,KHA,هو هناك، بالظبط أمام مكتب معلومات السياح.,هو هناك، بالظبط قدام مكتب معلومات السياح.,هو هناك، بالظبط قدام مكتب معلومات السياح.
1,1,9,corpus-6-test-corpus-26-train,KHA,ما حصل سمعت بالعنوان دا هنا.,NaN,ما حصل سمعت بالعنوان ده هنا.
2,2,11,corpus-6-test-corpus-26-train,KHA,أمشي دغري لغاية تشوف صيدلية.,NaN,امشي دغري لغاية تشوف صيدلية.
3,3,26,corpus-6-test-corpus-26-train,KHA,بي كم الفطور؟,NaN,بي كم الفطور؟
4,4,27,corpus-6-test-corpus-26-train,KHA,كيف ممكن اساعدك؟,NaN,كيف ممكن اساعدك؟
...,...,...,...,...,...,...,...
1595,1595,16140,corpus-6-test-corpus-26-dev,KHA,ما مشكلة.,NaN,ما مشكلة.
1596,1596,16141,corpus-6-test-corpus-26-train,KHA,من فضلك اديني تلاتة اتنين ستة اتنين تسعة واحد ...,NaN,من فضلك اديني ثلاتة اثنين ستة اثنين تسعة واحد ...
1597,1597,16158,corpus-6-test-corpus-26-train,KHA,نعم، ممكن نخدمك من سبعة.,NaN,نعم، ممكن نخدمك من سبعة.
1598,1598,16167,corpus-6-test-corpus-26-train,KHA,من فضلك ارقد هنا.,NaN,من فضلك ارقد هنا.
1599,1599,16169,corpus-6-test-corpus-26-test,KHA,ما اسرعها من خدمة.,خدمة سريعة,خدمة سريعة

In [95]:
df.drop(['Unnamed: 0', 'split', 'lang'],axis = 1, inplace = True)

In [96]:
for i in range(len(df)):
    if not pd.isnull(df['revised'].values[i]):
        df['sent'].values[i] = df['revised'].values[i]
df.drop(['revised', 'sentID.BTEC'], axis = 1, inplace = True)

df

,sent,CODA
0,هو هناك، بالظبط قدام مكتب معلومات السياح.,هو هناك، بالظبط قدام مكتب معلومات السياح.
1,ما حصل سمعت بالعنوان دا هنا.,ما حصل سمعت بالعنوان ده هنا.
2,أمشي دغري لغاية تشوف صيدلية.,امشي دغري لغاية تشوف صيدلية.
3,بي كم الفطور؟,بي كم الفطور؟
4,كيف ممكن اساعدك؟,كيف ممكن اساعدك؟
...,...,...
1595,ما مشكلة.,ما مشكلة.
1596,من فضلك اديني تلاتة اتنين ستة اتنين تسعة واحد ...,من فضلك اديني ثلاتة اثنين ستة اثنين تسعة واحد ...
1597,نعم، ممكن نخدمك من سبعة.,نعم، ممكن نخدمك من سبعة.
1598,من فضلك ارقد هنا.,من فضلك ارقد هنا.
1599,خدمة سريعة,خدمة سريعة

In [97]:
# short = pd.DataFrame(columns= ['sent', 'CODA'])
# long = pd.DataFrame(columns = ['sent', 'CODA'])
# same = pd.DataFrame(columns = ['sent', 'CODA'])

# raw_count = 0

# coda_count = 0


# sames = 0
# shorter = 0
# longer = 0

# for i in range(len(frame)):
#     raw = frame.sent.iloc[i]
#     coda = frame.CODA.iloc[i]
    
#     raw_count += len(raw.split())
#     coda_count += len(coda.split())
    
#     if (len(raw.split()) == len(coda.split())):
#         sames += 1
#         same.loc[len(same)] = [raw, coda]
#     if (len(raw.split()) > len(coda.split())):
#         shorter += 1
#         short.loc[len(short)] = [raw, coda]
#     if (len(raw.split()) < len(coda.split())):
#         longer += 1
#         long.loc[len(short)] = [raw, coda]
    

    
    

# print(raw_count)
# print(coda_count)
# print(sames)
# print(shorter)
# print(longer)


# short

In [98]:

# ha = 0
# ba = 0

# not7a = pd.DataFrame(columns = ['sent', 'CODA'])


# for i in range(len(short)):
#     if 'ح' in short.sent.iloc[i].split():
#         ha += 1
#     else:
#         not7a.loc[len(not7a)] = [short.sent.iloc[i], short.CODA.iloc[i]]
        
# print(ha)
# print(ba)

# not7a.to_csv('not7a.csv')